Filehosting/Service References/Filehost/Filehost2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58649/Filehost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFilehosting" />
  <xs:element name="sendFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfFilehosting" minOccurs="0" name="file" nillable="true" type="q1:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ind" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curByte" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfFilehosting" minOccurs="0" name="getFileResult" nillable="true" type="q2:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileInd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileIndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFileIndResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFileInfoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>