Filehosting/Service References/Filehost/Filehost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFilehosting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFilehosting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO" nillable="true" type="tns:DTO" />
</xs:schema>